.button{
    // margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #835afd;
    color: #fff;
    padding: 0 32px;

    border: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;

    transition: filter 0.2s;

    img{
        margin-right: 8px;
    }

    &.outlined{
        background: #fff;
        border: 1px solid #835afd;
        color: #835afd;
    }

    // funcao onde so vai dar hover se o botao não estiver desabilitado
    &:not(:disabled)hover{
        filter: brightness(0.9)
    }

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}